@teal1: #a2dbd7;
@teal2: #7dcdc7;
@teal3: #4fb9b1;
@teal4: #139d93;

body {
  color: @teal4;
  height: 100%
}

#app {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
}

.left, .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  border-right: 1px solid gray;
}

.right {
  border-left: 1px solid grey;
}

.w-70 {
  width: 70%;
}

.w-40 {
  width: 40%;
}

.display {
  img {
    width: 100%;
  }
  h2,h3 {
    margin: 0;
    font-size: .8em;
  }
  h2 {
    font-weight: 700;
    color: @teal3;
  }
  h3 {
    font-weight: 200;
    color: @teal1;
  }
  span {
    color: @teal1;
  }
}
