@teal1: #a2dbd7;
@teal2: #7dcdc7;
@teal3: #4fb9b1;
@teal4: #139d93;

body {
  color: black;
  height: 100%;
}

#app {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
}

.left, .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  border-right: 1px solid gray;
}

.right {
  .display {
    text-align: right;
  }
  border-left: 1px solid grey;
}

.w-70 {
  width: 70%;
}

.w-40 {
  width: 40%;
}
.w-80 {
  width: 80%;
}
.footer {
  width: 100%;
  display: flex;
  div {
    width: 33%;
  }
  color: @teal4;
  font-size: 1.5em;
  font-weight: 700;
}
h1 {
  text-align: center;
  margin-bottom: 1em;
  span {
    font-weight: 700;
  }
  font-weight: 300;
  font-size: 5em;
}
.display {
  img {
    width: 100%;
    margin-bottom: 1em;
  }
  h2,h3 {
    margin: .5em;
    font-size: .8em;
  }
  h2 {
    font-weight: 700;
    color: @teal3;
  }
  h3 {
    font-weight: 200;
    color: @teal1;
  }
  span {
    color: @teal1;
  }
}

.toc {
  width: 100%;
  text-align: center;
  img {
    margin-bottom: 5em;
    width: 5em;
  }
  h1 {
    margin:0;
    text-transform: uppercase;
    font-weight:700;
    font-size: 2em;
    span {
      font-weight:300;
    }
  }
  .number {
    color: @teal4;
  }
  .chapter {
    margin-bottom: 2em;
  }
  p {
    font-size: 1.2em;
    margin: 0;
    span {
      font-weight: 300;
    }
  }
}
