@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/proximanova-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/proximanova-regularit.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/proximanova-extrabold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/proximanova-thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/proximanova-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
body {
  color: #313131;
  height: 100%;
  font-family: 'Proxima Nova';
}
#app {
  height: 100%;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3.5em 0 10em 0;
}
@media screen and (max-width: 877px) {
  .wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.left,
.right {
  width: 50%;
  font-size: 0.97em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 877px) {
  .left,
  .right {
    width: 100%;
  }
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-80 {
  width: 80%;
}
@media screen and (max-width: 600px) {
  .w-100-small {
    width: 100%;
  }
}
.footer-wrap {
  position: fixed;
  margin-top: 2.5em;
  padding-bottom: 3.5em;
  bottom: 0;
}
.footer {
  width: 50%;
  display: flex;
  color: #139d93;
  font-size: 1.6em;
  font-weight: 500;
}
@media screen and (max-width: 877px) {
  .footer {
    width: 100%;
  }
}
.footer div {
  width: 33%;
}
.footer a {
  color: #a2dbd7;
  font-weight: 500;
  font-size: .55em;
}
.footer-wrap.w-80 {
  display: block;
}
@media screen and (max-width: 877px) {
  .footer-wrap.w-80 {
    display: none;
  }
}
.footer-wrap.w-100-small {
  display: none;
}
@media screen and (max-width: 877px) {
  .footer-wrap.w-100-small {
    display: block;
    position: inherit;
  }
  .footer-wrap.w-100-small .footer {
    display: block;
  }
  .footer-wrap.w-100-small .footer div {
    width: 100%;
  }
}
h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 3.5em;
}
h1 span {
  font-weight: 700;
}
.text {
  margin-bottom: 2.5em;
}
.display img {
  width: 100%;
  margin-bottom: .5em;
  margin-top: .5em;
}
.display h1 {
  font-size: 2em;
}
.display h1 span {
  font-weight: 700;
}
.display h2,
.display h3 {
  margin: .2em 0;
  font-size: .8em;
}
.display h2 {
  font-weight: 500;
  color: #4fb9b1;
}
.display h3 {
  font-weight: 400;
  color: #a2dbd7;
}
.display span {
  color: #a2dbd7;
}
.toc {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}
.toc img {
  margin-bottom: 5em;
  width: 4.4em;
}
.toc h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
.toc h1 span {
  font-weight: 400;
}
.toc .number {
  color: #139d93;
  margin-bottom: 0.2em;
}
.toc .chapter {
  margin-bottom: 2em;
}
.toc .chapter a {
  color: #313131;
}
.toc p {
  font-size: 1.2em;
  margin: 0;
}
.toc p span {
  font-weight: 400;
}
.quote {
  font-style: italic;
}
.crease {
  width: 1px;
  border-left: 0.1px solid;
  border-right: 0.1px solid;
  border-color: #bfbfbf;
  height: 100%;
  position: fixed;
  left: 50%;
}
@media screen and (max-width: 877px) {
  .hide-small {
    display: none;
  }
}
.connect p {
  margin-bottom: 2em;
}
input,
input::placeholder {
  border: 0;
  color: #139d93;
  outline: 0;
}
.file-input-outer-wrap {
  position: relative;
  color: #139d93;
}
.file-input-inner-wrap {
  position: absolute;
  width: 83px;
  padding-top: 0.3px;
  z-index: 10;
}
input[type=file] {
  opacity: 0;
  display: inline-block;
  width: 83px;
}
textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-color: #139d93;
  border-radius: 2px;
  margin-top: 0.5em;
  outline: 0;
  color: #139d93;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
