body {
  color: black;
  height: 100%;
}
#app {
  height: 100%;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .hide-small {
    display: none;
  }
}
.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .left,
  .right {
    width: 100%;
  }
}
.left {
  border-right: 1px solid gray;
}
@media screen and (max-width: 768px) {
  .left {
    border: none;
  }
}
.right {
  border-left: 1px solid grey;
}
.right .display {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .right {
    border: none;
  }
}
.w-70 {
  width: 70%;
}
.w-40 {
  width: 40%;
}
.w-80 {
  width: 80%;
}
.footer {
  width: 100%;
  display: flex;
  color: #139d93;
  font-size: 1.5em;
  font-weight: 700;
}
.footer div {
  width: 33%;
}
h1 {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 5em;
}
h1 span {
  font-weight: 700;
}
.display img {
  width: 100%;
  margin-bottom: 1em;
}
.display h2,
.display h3 {
  margin: .5em;
  font-size: .8em;
}
.display h2 {
  font-weight: 700;
  color: #4fb9b1;
}
.display h3 {
  font-weight: 200;
  color: #a2dbd7;
}
.display span {
  color: #a2dbd7;
}
.toc {
  width: 100%;
  text-align: center;
}
.toc img {
  margin-bottom: 5em;
  width: 5em;
}
.toc h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
.toc h1 span {
  font-weight: 300;
}
.toc .number {
  color: #139d93;
}
.toc .chapter {
  margin-bottom: 2em;
}
.toc p {
  font-size: 1.2em;
  margin: 0;
}
.toc p span {
  font-weight: 300;
}
