body {
  color: #139d93;
  height: 100%;
}
#app {
  height: 100%;
}
.wrapper {
  height: 100%;
  display: flex;
}
.left,
.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  border-right: 1px solid gray;
}
.right {
  border-left: 1px solid grey;
}
.w-70 {
  width: 70%;
}
.w-40 {
  width: 40%;
}
.display img {
  width: 100%;
}
.display h2,
.display h3 {
  margin: 0;
  font-size: .8em;
}
.display h2 {
  font-weight: 700;
  color: #4fb9b1;
}
.display h3 {
  font-weight: 200;
  color: #a2dbd7;
}
.display span {
  color: #a2dbd7;
}
